
@model  IList<MVCFirstProject.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<p>@Html.ActionLink("Create Student", "Create" )</p>

<table>
    <tr>
        <th>
            @Html.ActionLink("Last name", "Index", new {sortOrder = ViewBag.NameSortOrder })
        </th>
        <th>
            FirstMidName
        </th>
        <th>
            @Html.ActionLink("Enrollment date", "Index", new { sortOrder = ViewBag.DateSortOrder })
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

